.button {
  -fx-font: 16pt "Cooper";
  -fx-text-fill: rgb(49, 89, 23);
  -fx-border-color: rgb(49, 89, 23);
  -fx-border-radius: 5;
  -fx-padding: 3 6 6 6;
}

.button:hover {
  -fx-font: 18px "Cooper";
  -fx-text-fill: rgb(0, 200, 0);
  -fx-border-color: rgb(49, 89, 23);
  -fx-border-radius: 5;
  -fx-padding: 3 6 6 6;
}
