.button {
  -fx-background-image: url('twitter_logo.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-radius: 5em;
  -fx-min-width: 64px;
  -fx-min-height: 64px;
  -fx-max-width: 64px;
  -fx-max-height: 64px;
}
-->
.button:hover {
  -fx-background-image: url('twitter_logo_selected.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-radius: 5em;
  -fx-min-width: 64px;
  -fx-min-height: 64px;
  -fx-max-width: 64px;
  -fx-max-height: 64px;
}
