/**
 * CFGS Desenvolupament d'Aplicacions Multiplataforma
 * Departament d'Informàtica
 * IES Eugeni d'Ors - Vilafranca del Penedès
 * 
 * Curs 2016 - 2017
 * 
 * Mòdul M7 - Desenvolupament d'Interfícies
 * Pràctica: 5
 * 
 * @author Rubén Nadal (rnadal27@xtec.cat)
 * @version 1.0
 * 
 */
.button {
    -fx-focus-color: transparent;
    -fx-background-insets: -1, 0, 1, 1;
    -fx-font-weight: bold;
    -fx-font-size: 36;
    -fx-text-fill: blue; 
}

.guanyador {
    -fx-background-color: radial-gradient( radius 100%, white, lightyellow, lawngreen); 
    -fx-text-fill: red;
}